<h1>Survey</h1>
<h3>Title: <%= @survey.title %></h3>
<table>
  <tr>
    <th>Num</th><th>Question</th>
  </tr>
    <% @survey.questions.each_with_index do |q,i| %>
      <tr>
        <td><%= (i+1).to_s %></td>
        <td><%= q.question %>?</td>
      </tr>
    <% end %>
</table>
<%= link_to "Back", root_path %>
